* {
    background-color: #23272A;
    font-family: "Poppins";
}

.title {
    color: white;
    position: absolute;
    font-size: 4rem;
    top: 7%;
    left: 5%;
}


.settings,
.txt,
.gens {
    position: absolute;
}

.gens{
    display: flex;
    justify-content: space-evenly;
    top: 20%;
    left: 7%;
    width: 65%;
}

.settings {
    top: 40%;
    left: 15%;
    max-width: 25%;
    border: solid white;
    border-radius: 25px;
    padding: 18px;
}

.txt {
    top: 40%;
    right: 15%;
    width: 20%;
    border: solid white;
    border-radius: 25px;
    padding: 18px;
}

.txttitle {
    color: white;
    font-size: 2rem;
}

.typetxt {
    height: 40%;
}

.comment {
    color: white;
    position: absolute;
    width: 30%;
    left: 35%;
    bottom: 6%;
    text-align: center;
    font-size: larger;
}